<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:0.5px solid black;
}
</style>

<body>

<h1>ACP Brevet Times Display</h1>
<h2>The Begin Date : {{items[0]["begin_date"]}}</h2>
<h2>The Begin Time : {{items[0]["begin_time"]}}</h2>
<h2>The Brevet Distance : {{items[0]["brev"]}}km</h2>
<table style="width:100%">
	<tr>
    <th> Km / Miles </th>
<!--
    <th> Begin Time </th>
    <th> Begin Date </th>
-->
    <th> Open Time </th>
    <th> Close Time </th>
 </tr>

{% for item in items %}
  <tr>
    <td>The km : {{item["km"]}} ／ The miles : {{item["mi"]}}</td>
<!-- <td>The Begin Time : {{item["begin_time"]}}</td>
    <td>The Begin Date : {{item["begin_date"]}}</td> -->
    <td>The open time : {{item["open_time"]}}</td>
    <td>The close time : {{item["close_time"]}}</td>
  </tr>
	{% endfor %}
</table>

<!-- <p>To return to calculator <a href="{{ url_for("index") }}">click here</a>.</p> -->

</body>
</html>
