<html>
<head>
  <title>Submit Entered without Data</title>
</head>
<body>
<h1>No Values were entered into Brevet Calculator</h1>
  <p>Next time try to add some numbers to the mi or km columns and you will see nifty things happen!</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
